 /*importando fontes para a pagina */

 ::-webkit-scrollbar-track {
     background-color: #322f46;
 }

 ::-webkit-scrollbar {
     width: 12px;
 }

 ::-webkit-scrollbar-thumb {
     background: rgb(0, 239, 242);
     background: linear-gradient(0deg, rgba(0, 239, 242, 1) 0%, rgba(0, 255, 158, 1) 100%);
     border-radius: 10px;
 }

 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=PT+Serif&display=swap');
 /*configurando a  pagina */

 html {
     scroll-behavior: smooth;
     transition: 1s;
 }

 /*configurando  o corpo da pagina */

 body {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
 }

 /*configurando a o menu da pagina*/

 .menu {
     width: 7vw;
     float: left;
     height: 100%;
     position: fixed;
     box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.781);
     background: #322f46;
     border-right: 2px solid rgb(0, 239, 242);
 }

 .ativado {
     background: linear-gradient(0deg, rgba(0, 239, 242, 0.5) 0%, rgba(0, 255, 158, 0.5) 100%);
     color: white;
     margin-top: 2vw;
     border-radius: 30%;
     width: auto;
     height: auto;
     font-size: 3vw;
     text-align: center;
     padding: 5%;
     transform: scale(1.1);
     transition: 0.5s;
 }

 .centro {
     height: 80%;
     width: 70%;
     margin: 15%;
 }

 .centro .icone {
     margin-top: 2vw;
     border-radius: 30%;
     width: auto;
     height: auto;
     font-size: 3vw;
     color: black;
     text-align: center;
     padding: 5%;
     background: rgb(0, 239, 242);
     background: linear-gradient(0deg, rgba(0, 239, 242, 1) 0%, rgba(0, 255, 158, 1) 100%);
 }

 .icone:hover {
     color: white;
     transition: 0.5s;
     transform: scale(1.1);
     background: linear-gradient(0deg, rgba(0, 239, 242, 0.5) 0%, rgba(0, 255, 158, 0.5) 100%);
 }

 .centro img {
     width: 100%;
     height: auto;
     padding-bottom: 2vw;
     border-bottom: 0.25vw solid rgba(0, 239, 242, 1);
 }

 /*configurando as sections da pagina*/

 .home {
     width: 100%;
     float: right;
     height: 100vh;
     background: url(../imagens/fundos/home1.png);
     background-size: cover;
     background-position: center;
     transition: 1s;
 }

 .about {
     width: 100%;
     float: right;
     height: 70vh;
     transition: 1s;
     background: rgb(255, 255, 255);
     background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(127, 130, 130, 1) 40%, rgba(69, 80, 80, 1) 64%, rgba(37, 51, 52, 1) 100%);
 }

 .team {
     width: 100%;
     float: right;
     height: 100vh;
     transition: 1s;
     background: white;
 }

 .video {
     width: 100%;
     float: right;
     height: 100vh;
     background: white;
     transition: 1s;
 }

 .contact {
    width: 100%;
    float: right;
    height: 100%;
    background: #232323;
    color: white;
    transition: 1s;
}

 /*configurando a section team da pagina*/

 .intermedio {
     width: 80%;
     margin-left: 12%;
     height: 60vh;
     display: flex;
     background: transparent;
     margin-top: 20vh;
 }

 .one {
     width: 33%;
     margin: 0;
     height: 100%;
     background: linear-gradient(rgba(128, 128, 128, 0.247), mediumseagreen);
     text-align: center;
     color: white;
     margin: 0.3%;
     transition: 1s;
 }

 .one img {
     width: 200px;
     height: 200px;
     border-radius: 100%;
     background: white;
     position: relative;
     margin-top: 20%;
 }

 .one h2 {
     color: white;
     position: relative;
     top: 2%;
 }

 .two {
     width: 33%;
     margin: 0;
     height: 100%;
     background: url(../imagens/fundos/contatogreen.jpg) mediumseagreen;
     background-size: cover;
     background-position: center;
     text-align: center;
     color: white;
     font-size: 1.3em;
     margin: 0.3%;
     transition: 1s;
 }

 .two h1 {
     color: rgb(206, 206, 206);
 }

 .two:hover {
     transform: scale(1.1);
 }

 .one:hover {
     transform: scale(1.1);
 }

 .tree:hover {
     transform: scale(1.1);
 }

 .two h1 {
     margin-top: 20%;
     width: 100%;
     text-align: center;
     font-size: 2.5em;
     text-transform: uppercase;
 }

 .tree {
     width: 33%;
     margin: 0;
     height: 100%;
     background: linear-gradient(rgba(128, 128, 128, 0.247), mediumseagreen);
     text-align: center;
     margin: 0.3%;
     transition: 1s;
 }

 .one input[type="radio"] {
     position: relative;
     top: 5px;
     left: 30%;
     display: inline-block;
     z-index: 10;
 }

 .tree input[type="radio"] {
     position: relative;
     top: 0px;
     left: 30%;
     display: inline-block;
     z-index: 10;
 }

 .tree .imgtree {
     width: 200px;
     height: 200px;
     border-radius: 100%;
     background: white;
     position: relative;
     margin-top: 20%;
 }

 .tree h2 {
     color: white;
     position: relative;
     top: 2%;
 }

 /*configurando a section home da pagina*/

 .textos {
     margin-top: 25vh;
     margin-left: 12vw;
     width: 80vw;
 }

 .textos h1 {
     width: 100%;
     text-align: center;
     font-size: 10vw;
     color: rgba(0, 0, 0, 0.973);
     margin-bottom: 10px;
 }

 .textos p {
     color: white;
     font-size: 1.5em;
     width: 100%;
     text-align: center;
 }

 .textos .linha {
     width: 100%;
     background: mediumseagreen;
     border-radius: 30px;
     height: 3vh;
 }

 .more {
     width: 200px;
     height: 50px;
     border-radius: 30px;
     text-align: center;
     border: solid 3px white;
     color: white;
     font-size: 1.5em;
     background: transparent;
     margin-left: 30vw;
     transition: 0.5s;
 }

 .more:hover {
     background: mediumseagreen;
     border: solid 3px mediumseagreen;
 }

 /*configurando a section video da pagina*/

 .texto_videozin {
     width: 100%;
     text-align: center;
 }

 .texto_videozin h1 {
     font-size: 70px;
     line-height: 70px;
     margin-top: 10px;
     color: rgba(0, 0, 0, 0.938);
     margin-bottom: 20px;
     text-transform: uppercase;
     font-family: serif;
 }

 .texto_videozin span {
     color: mediumseagreen;
     font-size: 2em;
 }

 .texto_videozin .linha {
     width: 60%;
     background: mediumseagreen;
     border-radius: 30px;
     height: 3vh;
     margin-left: 20%;
 }

 .videozin {
     margin-left: 22.5vw;
     width: 55vw;
     height: 65vh;
     margin-top: 2vh;
     border-radius: 10px;
 }

 /*configurando a section about da pagina*/

 .box_home {
     width: 86vw;
     margin-left: 10vw;
     height: 80vh;
     margin-top: 5vh;
     display: inline-flex;
 }

 .box_home .box_home_item {
     width: 26vw;
     height: 60vh;
     background: transparent;
     margin-left: 24px;
 }

 .box_home_item img {
    width: 50%;
    margin: 0 25%;
 }
.box_home_item p {
    text-align: center;
    font-size: 2vw;
    color: white;
    text-shadow: 0.2em 0.2em 0.3em #232323;
    font-family: "Poppins";
}


 /* configurando o cadastro */

 .Pcadastro {
     margin-left: 12%;
     margin-bottom: 10%;
     width: 40%;
     border-right: 4px #322f46 solid;
     float: left;
 }

 form {
     width: 80%;
 }

 form label {
     display: block;
     font-size: 20px;
     margin-top: 10px;
 }
 form p{
    font-size: 21px;
 }

 .input_padronizado {
     display: block;
     padding: 10px 25px;
     width: 100%;
     border-radius: 10px;
 }

 #btn_form {
     background-color: #04724D;
     height: 66px;
     width: 112px;
     text-decoration: none;
     color: whitesmoke;
     border: 2px white solid;
     border-radius: 11px;
 }

 .contact .titulo {
     margin-left: 20%;
     font-size: 40px;
 }

 .logo1 {
    background-color: rgba(255,255,255,0.6);
    margin-right: 200px;
    border-radius: 100%;
    width: 200px;
    float: right;
}

 #div_erro{
     color: whitesmoke;
 }
 li{
    list-style: none;
    margin: 6px;
    font-weight: bold;
    background-color: #ff000047;
    padding: 7px;
    margin-left: 45px;
    margin-right: 78px;
    border-radius: 5px;
}
 #div_erro {
     color: whitesmoke;
 }
