body {
    margin: 0;
    padding: 0;
    background: #1d182b;
}

.content {
    width: 80%;
    height: 80vh;
    border: black solid 0px;
    box-shadow: 0 10px 40px black;
    margin-left: 10%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log {
    width: 50%;
    float: right;
    height: 80vh;
    transition: 1.5s;
}

.home_box {
    width: 30%;
    align-items: center;
    justify-content: center;
    height: 10vh;
    float: right;
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
}

.home_icon {
    width: 40px;
    background: transparent;
    float: right;
    height: 40px;
    background-image: url(home.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.login {
    margin-top: 20%;
    width: 100%;
    display: block;
    height: 75%;
}

input {
    width: 70%;
    background: transparent;
    border: none;
    border-bottom: 5px mediumseagreen solid;
    outline: none;
    font-size: 1.6em;
    color: mediumseagreen;
    margin-top: 20px;
    margin-left: 10%;
}

input:focus {
    border-bottom: 5px mediumseagreen solid;
}

.login .primeiroinput {
    margin-top: 20%;
}

input[type="button"] {
    border: none;
    width: 40%;
    height: 5vh;
    background: mediumseagreen;
    color: #1d182b;
    cursor: pointer;
}

input[type="button"]:hover {
    transform: scale(1.1);
    transition: 1s;
}

.cad {
    width: 50%;
    float: left;
    height: 80vh;
}

.box_cad {
    width: 100%;
    height: 80%;
    margin-top: 20%;
}

.home_box_cad {
    width: 30%;
    align-items: center;
    justify-content: center;
    height: 10vh;
    float: left;
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
}

.home_icon_cad {
    width: 40px;
    background: transparent;
    float: left;
    height: 40px;
    background-image: url(home.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.intro {
    width: 40vw;
    float: left;
    height: 80vh;
    background: mediumseagreen;
    transition: 1s;
    position: absolute;
    top: 13%;
    left: 10%;
    z-index: 100;
}

.intro h1 {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 150px;
    font-size: 3em;
    font-family: sans-serif;
    text-transform: uppercase;
}

.intro p {
    width: 93%;
    text-align: center;
    color: #565656;
    padding: 0 0 0 10px;
    font-size: 1.4em;
}

.intro button {
    background: transparent;
    border: 3px solid white;
    color: white;
    width: 200px;
    height: 6vh;
    margin-left: 28%;
    font-size: 1.6em;
    cursor: pointer;
}

.erro {
    position: absolute;
    z-index: 1000;
    width: 50%;
    left: 25%;
    height: 5vh;
    border: 1px red solid;
    border-radius: 3px;
    top: 20px;
    text-align: center;
    font-size: 1.8em;
    transition: 2s;
    display: none;
    color: white;
    background: #ff000029;
}