@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: auto;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Bellota', cursive;
    scroll-behavior: smooth;
}


/* 
        header {
            box-sizing: border-box;
            min-height: 100vh;
            padding: 30vw 0 5vw;
            position: relative;
            transform-style: inherit;
            width: 100vw;
        }
        
        header h1 {
            margin-top: 0px
        }
        
        header,
        header::before {
            background: 50% 50% / cover;
        }
        
      header::before {
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            background-image: url(imagens/pk1.jpg);
            background-size: cover;
            transform-origin: center center 0;
            transform: translateZ(-1px) scale(2);
            z-index: -1;
            min-height: 100vh;
        }
        
        header * {
            font-weight: bold;
            letter-spacing: 0.2em;
            text-align: center;
            margin: 0;
            padding: 1em 0;
        }
        */

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.5;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8;
}

nav ul li a .actived,
nav ul li a:hover {
    background: white;
    color: #262626;
}

section.c2 {
    width: 100%;
    height: 100vh;
    background: url(imagens/pk3.jpg);
    background-size: cover;
    align-items: center;
}

section.c1 {
    width: 100%;
    height: 100vh;
    background: url(imagens/pk1.jpg);
    background-size: cover;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

section.c2 {
    width: 100%;
    height: 100vh;
    background: url(imagens/pk3.jpg);
    background-size: cover;
    align-items: center;
}

section.c3 {
    width: 100%;
    height: 100vh;
    background: url(imagens/pk2.jpg);
    background-size: cover;
}

section.content {
    padding: 100px;
    width: 100%;
    height: 100vh;
    background: rgb(247, 241, 241);
    background-size: cover;
    transition: 1s;
}

section.contenttextoeimagem {
    padding: 0px;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.baner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.baner .contentvideo {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    background: linear-gradient(rgba(0, 0, 0, 0.377), rgba(5, 5, 5, 0.884));
    border: 3px solid white;
}

.baner .contentvideo h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
}

.baner .contentvideo p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em AUTO;
    color: #fff;
}

section.contenttextoeimagem h1 {
    padding: 0px;
    margin: 0;
    font-size: 2.2em;
    color: #fcf7f7;
}

section.contenttextoeimagem p {
    padding: 10px 0px 0px;
    margin: 0;
    font-size: 1.2em;
    color: #fffdfd;
}

section.content.content2 {
    padding: 100px;
    width: 100%;
    height: 100vh;
    background: black;
    background-size: cover;
}

section.content.contentset {
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #03000d;
    background-size: cover;
    border-top: 1px solid #fff;
}

section.content h1 {
    padding: 0px;
    margin: 0;
    font-size: 2.2em;
    color: #262626;
}

section.content p {
    padding: 10px 0px 0px;
    margin: 0;
    font-size: 1.2em;
    color: #262626;
}

section.content2 {
    padding: 100px;
    width: 100%;
    height: 100vh;
    background: url(imagens/pk3.jpg);
    background-size: cover;
}

section.content2 h1 {
    padding: 0px;
    margin: 0;
    font-size: 3em;
    color: white;
    font-size: 3em;
    text-transform: uppercase;
}

section.content2 p {
    padding: 60px 0px 0px;
    margin: 0;
    font-size: 1.6em;
    color: white;
}

#entrar {
    background-color: transparent;
    border: 1px;
    color: white;
    border-radius: 10px;
    font-size: .6em;
    width: 200px;
    height: 50px;
    border-style: solid;
}

#entrar:hover {
    background-color: rgb(255, 255, 255);
    color: #262626;
    border-color: #ffffff;
    transform: scale(1.3);
}

#cadastrar {
    background-color: transparent;
    border: 1px;
    color: white;
    border-radius: 10px;
    font-size: .6em;
    width: 200px;
    height: 50px;
    border-style: solid;
}

#cadastrar:hover {
    background-color: white;
    color: #262626;
    border-color: white;
    transform: scale(1.3);
}

#texto1 {
    margin-top: 210px;
    font-size: 2.5em;
}

section {
    position: sticky;
    top: 0;
}

.continerone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.continerone .circle {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.continerone .circle:hover {
    z-index: 1;
}

.continerone .circle.circle1 {
    background: url(imagens/img1.jpg);
    clip-path: circle(180px at 20% center);
}

.continerone .circle.circle2 {
    background: url(imagens/img2.jpg);
    clip-path: circle(180px at center);
}

.continerone .circle.circle3 {
    background: url(imagens/img3.jpg);
    clip-path: circle(180px at 80% center);
}

.continerone .circle:active {
    clip-path: circle(800px at center);
    transition: 2s;
}

.continerone .circle .contentimage {
    max-width: 800px;
    box-sizing: border-box;
    padding: 40px;
    font-family: consolas;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: 1s;
}

.continerone .circle:active .contentimage {
    opacity: 1;
    transition-delay: 1s;
}

.continerone .circle .contentimage h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4em;
}

.continerone .circle .contentimage p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.2em;
}

#titulocircle {
    color: white;
    font-size: 2.2em;
    text-transform: uppercase;
}

#vermais {
    background-color: transparent;
    border: 1px;
    color: white;
    border-radius: 10px;
    font-size: 1em;
    width: 200px;
    height: 50px;
    border-style: solid;
}

#vermais:hover {
    background-color: white;
    color: #262626;
    border-color: white;
}

.contato {
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    background: #03000d;
}

.conteinetcontact {
    width: 90%;
    padding: 20px;
    height: 130vh;
    ;
}

.conteinetcontact1 {
    width: 80%;
    padding: 40px;
    margin-left: 8%;
}

.conteinetcontact h2 {
    width: 100%;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.conteinetcontact .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.conteinetcontact .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    transition: 0.5;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.conteinetcontact .row100 .input {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
}

.conteinetcontact .row100 .input input,
.conteinetcontact .row100 .input.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.conteinetcontact .row100 .input .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.conteinetcontact .row100 .input input:focus+.text,
.conteinetcontact .row100 .input input:valid+.text {
    top: -35px;
    left: -10px;
}

.conteinetcontact .row100 .input .line {
    position: absolute;
    bottom: 0em;
    display: block;
    width: 98%;
    height: 2px;
    background: #ffffff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.conteinetcontact .row100 .input input:focus~.line,
.conteinetcontact .row100 .input input:valid~.line {
    height: 100%;
}

.conteinetcontact .row100 .input.textarea {
    position: relative;
    width: 99%;
    height: 100px;
    padding: 10px 0;
}

.conteinetcontact .row100 .input.textarea textarea {
    height: 100%;
    resize: none;
}

.conteinetcontact .row100 .input textarea:focus+.text,
.conteinetcontact .row100 .input textarea:valid+.text {
    top: -35px;
    left: -10px;
}

.conteinetcontact .row100 .input textarea:focus~.line,
.conteinetcontact .row100 .input textarea:valid~.line {
    height: 100%;
}

input[type="submit"] {
    border: none;
    padding: 10px 35px;
    cursor: pointer;
    outline: none;
    background: #ffffff;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
}

input[type="submit"]:hover {
    background: #fcfcfc;
    transform: scale(1.4);
}

section.card {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    position: sticky;
    top: 0;
}

.sectionimagem {
    padding: 80px;
    width: 100%;
    height: 100vh;
    background: #03000d;
    background-size: cover;
    transition: 1s;
    position: relative;
    border-top: 1px solid #fff;
    text-align: justify;
}

.sectionimagem h1 {
    padding: 0px;
    margin: 0;
    font-size: 2.2em;
    color: #fcf7f7;
}

.sectionimagem p {
    padding: 10px 0px 0px;
    margin: 0;
    font-size: 1.2em;
    color: #fffdfd;
    width: 80%;
}

.section {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    border: 2px solid #03000d;
    border-top: none;
    min-height: 100vh;
}

.section .slide {
    position: relative;
    background: #0f0;
    height: 100%;
    flex: 1;
    border-right: 2px solid #03000d;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.section .slide:hover {
    flex-grow: 5;
}

.section .slide:last-child() {
    border-right: none;
}

.section .slide .content {
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    background: #03000d;
    color: #ffff;
    visibility: hidden;
    opacity: 0;
    transition: 0;
    transform: translateY(100px);
}

.section .slide:nth-child(1) {
    background: url(imagens/portifolio1.jpeg);
    background-position: center center;
}

.section .slide:nth-child(2) {
    background: url(imagens/porfolio2.jpg);
    background-position: center center;
}

.section .slide:nth-child(3) {
    background: url(imagens/porfolio3.jpg);
    background-position: center center;
}

.section .slide:nth-child(4) {
    background: url(imagens/portifolio4.jpg);
    background-position: center center;
}

.section .slide:hover .content {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0px);
}

section.footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 10vh;
    display: flex;
    position: relative;
    background: #03000d;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 16px;
    max-height: 15px;
}

::-webkit-scrollbar-track {
    background: #03000d;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 30px;
}