body {
    margin: 0;
    padding: 0;
    font-family: 'Bellota', cursive;
}

.menu {
    width: 100%;
    height: 10vh;
    top: 0;
    background: rgba(0, 0, 0, 0.61);
    position: fixed;
}

.logo {
    width: 100px;
    float: left;
    margin-left: 60px;
    font-size: 2em;
    color: white;
    margin-top: 5px;
}

.links {
    text-decoration: none;
    width: 50%;
    text-align: end;
    margin-top: 0;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    margin-left: 10px;
}

.links a:hover {
    color: #2fd82f;
}

.perfil {
    width: 80px;
    float: left;
    margin-top: 0;
    height: 100%;
    background: white;
    margin-left: 10px;
}

section {
    width: 100%;
    height: 100vh;
    background: rgb(255, 254, 254);
}

.menudiv {
    width: 100%;
    margin-left: 0;
    margin-top: 0%;
    background: white;
    height: 10Vh;
}

.mapa {
    width: 70%;
    height: 60vh;
    background-color: gray;
    margin-top: 10%;
    margin-left: 3%;
    float: left;
}

.btnu {
    float: right;
    margin-right: 1%;
    color: white;
    background: gray;
    border: 1px solid gray;
    border-radius: 30px;
    margin-top: 2%;
    font-size: 1.2em;
    cursor: pointer;
    width: 250px;
    text-align: center;
    height: 12vh;
}

.btnt {
    float: right;
    margin-right: 1%;
    color: white;
    background: gray;
    border: 1px solid gray;
    border-radius: 30px;
    margin-top: 25%;
    font-size: 1.2em;
    cursor: pointer;
    width: 250px;
    height: 12vh;
    text-align: center;
}

.btnt:hover {
    background: #2fd82f;
    border: 1px solid gray;
}

.btnu:hover {
    background: #2fd82f;
    border: 1px solid gray;
}