body {
    margin: 0;
    padding: 0;
    background-image: url(../imagens/fundo_floresta_login.jpg);
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.div_form{
    background-color: snow;
    width: 355px;
    max-width: 400px;
    height: 58vh;
    margin-left: 110vh;
    margin-top: 30vh;
    border-radius: 11px;
}

.div_form span{
    margin-left: 4vh;
}

.div_form h3{
    text-align: center;
}
.div_form input[type=email], .div_form input[type=text] {
    width: 78%;
    padding: 14px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    margin-left: 20px;
    margin-top: 23px;
}

.div_form input[type=email]:focus, .div_form input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.div_form button{
  color: white;
  width: 100%;
  margin-bottom:10px;
}

.div_form .sing_in{
    background-color: #4CAF50;
    padding: 17px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 59px;
    right: -175px;
    height: 49px;
    top: -58px;
    width: 51%;
    border-bottom-right-radius: 9px;
}
.div_form .sing_in:hover{
    opacity: 1;
}

.div_form .back{
    background-color: #c51616;
    color: white;
    padding: 16px 0px;
    border: none;
    cursor: pointer;
    position: initial;
    bottom: 79px;
    right: 140px;
    width: 50%;
    border-bottom-left-radius: 12px;
}
.div_form .back:hover{
    opacity: 1;
}
.btn_teste{
    -webkit-appearance: none;
}

.btn_teste button[onclick=subir()]{
    
    background-color: #c51616;
    color: white;
    padding: 16px 0px;
    border: none;
    cursor: pointer;
    position: initial;
    /* bottom: 79px;
    right: 140px;
    width: 51%; */
    border-radius: 12px;
}