body {
    margin: 0;
    padding: 0;
    background-image: url(../imagens/fundo_floresta_login.jpg);
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif;
}
.div_form{
    background-color: snow;
    width: 27%;
    max-width: 400px;
    height: 43vh;
    margin-left: 110vh;
    margin-top: 30vh;
}

.div_form span{
    margin-left: 4vh;
}

.div_form h3{
    text-align: center;
}
.div_form input[type=email], .div_form input[type=text] {
    width: 78%;
    padding: 14px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    margin-left: 20px;
    margin-top: 23px;
}

.div_form input[type=email]:focus, .div_form input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}