body {
    margin: 0;
    padding: 0;
    background: #07040d;
    transition: background-color .5s;
}

.home {
    height: 100vh;
    background: url(../imagens/bg.JPG);
    background-size: cover;
}

.home2 {
    height: 135vh;
    background: url(../imagens/bg3.jpg) black;
    background-size: cover;
    background-position: center;
}

.intermedio {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    height: 60vh;
    display: flex;
    background: transparent;
    top: 88%;
}

.one {
    width: 33%;
    margin: 0;
    height: 100%;
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    text-align: center;
    color: white;
    margin: 0.3%;
    transition: 1s;
}

.one img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: white;
    position: relative;
    margin-top: 20%;
}

.one h2 {
    color: white;
    position: relative;
    top: 2%;
}

.two {
    width: 33%;
    margin: 0;
    height: 100%;
    background: url(../imagens/contatogreen.jpg) mediumseagreen;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-size: 1.3em;
    margin: 0.3%;
    transition: 1s;
}

.two:hover {
    transform: scale(1.1);
}

.one:hover {
    transform: scale(1.1);
}

.tree:hover {
    transform: scale(1.1);
}

.two h1 {
    margin-top: 20%;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
}

.tree {
    width: 33%;
    margin: 0;
    height: 100%;
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    text-align: center;
    margin: 0.3%;
    transition: 1s;
}

.one input[type="radio"] {
    position: relative;
    top: 5px;
    left: 30%;
    display: inline-block;
    z-index: 10;
}

.tree input[type="radio"] {
    position: relative;
    top: 0px;
    left: 30%;
    display: inline-block;
    z-index: 10;
}

.tree .imgtree {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: white;
    position: relative;
    margin-top: 20%;
}

.tree h2 {
    color: white;
    position: relative;
    top: 2%;
}
.container{
    display: inline-block;
    cursor: pointer;
    margin-right: 49px;
}

.barra1, .barra2, .barra3 {
    width: 35px;
    height: 5px;
    background-color: #556b2f;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 10px;
}
  
.change .barra1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .barra2 {opacity: 0;}
  
.change .barra3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navLateral{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navLateral a {
    padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.navLateral a:hover {
     color: snow;
}

.navLateral .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .nav-lateral {padding-top: 15px;}
    .nav-lateral a {font-size: 18px;}
}
.menu {
    background: transparent;
    width: 100%;
    top: 0;
    height: 20vh;
    display: flex;
    align-items: center;
    position: absolute;
}

.menu ul {
    list-style: none;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}

.menu ul li {
    display: inline-block;
    text-align: center;
}

.menu ul li a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 0;
}

.menu ul li a:hover {
    color: mediumseagreen;
}

.menu ul li img {
    width: 100px;
    height: 95%;
    margin-top: 1px;
}
.acesso {
    float: right;
    width: 40%;
    height: 30vh;
    background: transparent;
    color: white;
    position: relative;
    margin-top: 20%;
    margin-right: 10%;
}

.acesso .line {
    width: 100%;
    position: relative;
    height: 1vh;
    border-radius: 10px;
    background: mediumseagreen;
}

.acesso h1 {
    text-align: center;
    width: 100%;
    font-size: 2.5em;
    margin-top: 0;
    font-family: sans-serif;
}

.acesso p {
    text-align: left;
    margin-left: 1px;
    width: 95%;
    font-size: 1.3em;
    color: rgb(165, 164, 164);
    transition: 5s;
}

.acesso p:hover {
    color: mediumseagreen;
}

.acesso button {
    text-align: center;
    margin-left: 1px;
    width: 60%;
    background-color: mediumseagreen;
    color: white;
    height: 5vh;
    border-radius: 30px;
    border: solid transparent;
    box-shadow: #07040d 12px;
    transition: 1s;
    font-size: 1.2em;
}

.acesso button:hover {
    transform: scale(1.2);
}

.boxVideo {
    width: 100%;
    background: rgba(253, 4, 4, 0);
    height: 70vh;
    top: 60vh;
    position: relative;
    transition: 2s;
}

.Descvideo {
    float: right;
    position: relative;
    width: 49.5%;
    height: 100%;
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    z-index: 100;
    text-align: center;
    transition: 0.3s;
    margin-right: 25%;
}

.Descvideo h1 {
    font-size: 2em;
    color: white;
    margin-top: 15%;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.Descvideo .linha2 {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    position: relative;
    height: 1vh;
    border-radius: 10px;
    background: mediumseagreen;
}

.Descvideo p {
    font-size: 1.5em;
    color: white;
    margin-top: 0%;
    width: 343px;
    text-align: left;
    margin-left: 25%;
    margin-bottom: 10px;
}

.botaoMover {
    position: relative;
    width: 150px;
    color: white;
    background: transparent;
    border-radius: 20px;
    border: 3px solid white;
}

.video {
    width: 49%;
    height: 100%;
    float: left;
    margin-left: 0.5%;
    z-index: 1;
    display: none;
    opacity: 0.7;
    transition: 1s;
}

.video video:enabled {
    opacity: 1;
}

.sobre {
    height: 135vh;
    background: url(../imagens/bg5.jpg) black;
    background-size: cover;
    background-position: center;
}

.itens {
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    width: 100%;
    height: 306px;
    top: 0vh;
    position: relative;
    text-align: center;
    font-size: 1.1em;
    border-bottom: mediumseagreen 3px solid;
    border-top: mediumseagreen 3px solid;
}
.valores {
    width: 200px;
    margin-left: 16px;
    text-align: center;
    color: white;
    float: right;
    margin-right: 42vh;
}

.valores img {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 20%;
}

.valores h3 {
    color: #ffffff;
}

.vissao {
    width: 200px;
    margin-left: 16px;
    text-align: center;
    color: white;
    float: right;
    margin-right: 14vh;
}

.vissao img {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 20%;
}

.missao {
    width: 200px;
    margin-left: 16px;
    text-align: center;
    color: white;
    float: right;
    margin-right: 14vh;
}

.missao img {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 20%;
}

.item1 {
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    width: 40%;
    height: 370px;
    position: relative;
    float: right;
    border-bottom: mediumseagreen 3px solid;
    padding-top: 10px;
    padding: 25px;
    top: 17vh;
    position: relative;
    margin-right: 8vh;
    color: white;
}

.item2 {
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    width: 40%;
    height: 370px;
    position: relative;
    float: right;
    border-bottom: mediumseagreen 3px solid;
    padding: 25px;
    top: 17vh;
    position: relative;
    margin-right: 10vh;
    color: white;
}

.titulo {
    width: 100%;
    text-align: center;
    font-size: 2.1em;
    text-transform: uppercase;
}

.item1 p {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.item2 p {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.footer {
    padding: 1px;
    color: #ffffff;
    background-color: #556b2f;
    text-align: center;
}