body {
    margin: 0;
    padding: 0;
    background: #07040d;
    ;
}

.home {
    height: 100vh;
    background: url(imagens/bg.jpg);
    background-size: cover;
}

.home2 {
    height: 135vh;
    background: url(imagens/bg3.jpg) black;
    background-size: cover;
    background-position: center;
}

.intermedio {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    height: 60vh;
    display: flex;
    background: transparent;
    top: 88%;
}

.one {
    width: 33%;
    margin: 0;
    height: 100%;
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    text-align: center;
    color: white;
    margin: 0.3%;
    transition: 1s;
}

.one img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: white;
    position: relative;
    margin-top: 20%;
}

.one h2 {
    color: white;
    position: relative;
    top: 2%;
}

.two {
    width: 33%;
    margin: 0;
    height: 100%;
    background: url(imagens/contatogreen.jpg) mediumseagreen;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-size: 1.3em;
    margin: 0.3%;
    transition: 1s;
}

.two:hover {
    transform: scale(1.1);
}

.one:hover {
    transform: scale(1.1);
}

.tree:hover {
    transform: scale(1.1);
}

.two h1 {
    margin-top: 20%;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
}

.tree {
    width: 33%;
    margin: 0;
    height: 100%;
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    text-align: center;
    margin: 0.3%;
    transition: 1s;
}

.one input[type="radio"] {
    position: relative;
    top: 5px;
    left: 30%;
    display: inline-block;
    z-index: 10;
}

.tree input[type="radio"] {
    position: relative;
    top: 0px;
    left: 30%;
    display: inline-block;
    z-index: 10;
}

.tree .imgtree {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: white;
    position: relative;
    margin-top: 20%;
}

.tree h2 {
    color: white;
    position: relative;
    top: 2%;
}

.menu {
    background: transparent;
    width: 100%;
    top: 0;
    height: 20vh;
    display: flex;
    align-items: center;
    position: absolute;
}

.menu ul {
    list-style: none;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}

.menu ul li {
    display: inline-block;
    text-align: center;
}

.menu ul li a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 0;
}

.menu ul li a:hover {
    color: mediumseagreen;
}

.menu ul li img {
    width: 100px;
    height: 95%;
    margin-top: 1px;
}

.acesso {
    float: right;
    width: 40%;
    height: 30vh;
    background: transparent;
    color: white;
    position: relative;
    margin-top: 20%;
    margin-right: 10%;
}

.acesso .line {
    width: 100%;
    position: relative;
    height: 1vh;
    border-radius: 10px;
    background: mediumseagreen;
}

.acesso h1 {
    text-align: center;
    width: 100%;
    font-size: 2.5em;
    margin-top: 0;
    font-family: sans-serif;
}

.acesso p {
    text-align: left;
    margin-left: 1px;
    width: 95%;
    font-size: 1.3em;
    color: rgb(165, 164, 164);
    transition: 5s;
}

.acesso p:hover {
    color: mediumseagreen;
}

.acesso button {
    text-align: center;
    margin-left: 1px;
    width: 60%;
    background-color: mediumseagreen;
    color: white;
    height: 5vh;
    border-radius: 30px;
    border: solid transparent;
    box-shadow: #07040d 12px;
    transition: 1s;
    font-size: 1.2em;
}

.acesso button:hover {
    transform: scale(1.2);
}

.boxVideo {
    width: 100%;
    background: rgba(253, 4, 4, 0);
    height: 70vh;
    top: 60vh;
    position: relative;
    transition: 2s;
}

.Descvideo {
    float: right;
    position: relative;
    width: 49.5%;
    height: 100%;
    background: linear-gradient(rgba(128, 128, 128, 0.247), #262626);
    z-index: 100;
    text-align: center;
    transition: 0.3s;
    margin-right: 25%;
}

.Descvideo h1 {
    font-size: 2em;
    color: white;
    margin-top: 15%;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.Descvideo .linha2 {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    position: relative;
    height: 1vh;
    border-radius: 10px;
    background: mediumseagreen;
}

.Descvideo p {
    font-size: 1.5em;
    color: white;
    margin-top: 4%;
    width: 300px;
    text-align: left;
    margin-left: 25%;
    margin-bottom: 10px;
}

.botaoMover {
    position: relative;
    width: 150px;
    color: white;
    background: transparent;
    border-radius: 20px;
    border: 3px solid white;
}

.video {
    width: 49%;
    height: 100%;
    float: left;
    margin-left: 0.5%;
    z-index: 1;
    display: none;
    opacity: 0.7;
    transition: 1s;
}

.video video:enabled {
    opacity: 1;
}